In [4]:
class company:
   
   def __init__(self, bill_amount):
      self.bill_amount = bill_amount
      
   def calc_discount(self):
      
      if (bill_amount >= 5000):
         
         discount = bill_amount * 0.10
         final_amount = bill_amount - discount
         return final_amount
         
      else:
         discount = bill_amount * 0.05
         final_amount = bill_amount - discount
         return final_amount
         
bill_amount = float(input("Enter your bill amount: "))


C1 = company(bill_amount)

print("The final amount of the bill: {}".format(C1.calc_discount()))

The final amount of the bill: 4275.0

In [6]:
def count_digits(number):
    number = abs(number)
    
    count = 0
    
    while number > 0:
        number = number // 10
        count += 1
        
    
    if (count == 0):
        count =1
        
    return count

num = int(input("Enter a number: "))

digit_count = count_digits(num)

print(f"The total number of digits in the number is: {digit_count}")

The total number of digits in the number is: 1

In [1]:
marks = [50, 'A', 65.9, True]

marks[1]

'A'

In [8]:
marks[0:2]

[50, 'A']

In [2]:
marks[2] = 58
print(marks[2])

58

In [3]:
print(marks)

[50, 'A', 58, True]

In [4]:
# Tuple can't change values.

Marks = (50, 'A', 65.9, True)

Marks[2] = 58

print(Marks)

TypeError: 'tuple' object does not support item assignment

In [9]:
# task

value = ["R", "E", "F", "R", "I", "G", "E", "R", "A", "T", "O", "R"]

In [10]:
print(value[3])

R

In [11]:
print(value[1:5])

['E', 'F', 'R', 'I']

In [12]:
print(value[-1])

R

In [13]:
print(value[:6])

['R', 'E', 'F', 'R', 'I', 'G']

In [14]:
print(value[:])

['R', 'E', 'F', 'R', 'I', 'G', 'E', 'R', 'A', 'T', 'O', 'R']

In [15]:
print(value[2:10:2])

['F', 'I', 'E', 'A']

In [16]:
print(value[::])

['R', 'E', 'F', 'R', 'I', 'G', 'E', 'R', 'A', 'T', 'O', 'R']

In [17]:
print(value[::-1])

['R', 'O', 'T', 'A', 'R', 'E', 'G', 'I', 'R', 'F', 'E', 'R']

In [18]:
print(value[::2])

['R', 'F', 'I', 'E', 'A', 'O']

In [23]:
value.reverse()

In [24]:
print(value)

['R', 'O', 'T', 'A', 'R', 'E', 'G', 'I', 'R', 'F', 'E', 'R']

In [25]:
value.append("USA")

In [26]:
print(value)

['R', 'O', 'T', 'A', 'R', 'E', 'G', 'I', 'R', 'F', 'E', 'R', 'USA']

In [34]:
print(len(value))

25

In [27]:
value.extend("Sri Lanka")

In [28]:
print(value)

['R', 'O', 'T', 'A', 'R', 'E', 'G', 'I', 'R', 'F', 'E', 'R', 'USA', 'S', 'r', 'i', ' ', 'L', 'a', 'n', 'k', 'a']

In [35]:
marks = [45, 56, 34, 54]
marks.insert(2, 675)
print(marks)

[45, 56, 675, 34, 54]

In [36]:
marks = [45, 56, 37, 23, 56]
value = [68, 78, 23, 44, 34]

concatenation = marks + value

In [37]:
print(concatenation)

[45, 56, 37, 23, 56, 68, 78, 23, 44, 34]

In [38]:
# list comprehension method

marks = [45, 56, 23, 45, 34]

new_marks = [x+1 for x in marks]

print(new_marks)

[46, 57, 24, 46, 35]

In [40]:
Marks2 = [45, 34, 23, 43, 55, 345]

Marks2.sort()

print(Marks2)

[23, 34, 43, 45, 55, 345]

In [41]:
Marks2.sort(reverse= True)

In [42]:
print(Marks2)

[345, 55, 45, 43, 34, 23]

In [43]:
#deleting element in the list

value = [67, 78, 45, 24, 3445]

del value[3]

In [44]:
print(value)

[67, 78, 45, 3445]

In [45]:
del value[0:1]
print(value)

[78, 45, 3445]

In [46]:
# Using remove()

value1 = [56, 35, 67, 78, 25]
value1.remove(67)

print(value)

[78, 45, 3445]

In [50]:
# Using pop()

value2 = [56, 25, 67, 35, 79]

value2.pop()
print(value2)

[56, 25, 67, 35]

In [51]:
value3 = [78, 89, 364, 67, 73]

value3.clear()

print(value3)

[]

In [53]:
# using list comprehension

value4 = [67, 47, 90, 74, 89, 90]

new_value4 = [x for x in value4 if x!= 90]

print(new_value4)

[67, 47, 74, 89]

In [3]:

def find_the_largest_number(numbers):
    
    if not numbers:
        return None
    
    largest = numbers[0]
    
    for number in numbers:
        if largest < number:
            largest = number
          
    return largest

numbers = [45, 34, 23, 67, 45, 78, 65]        
print("The largest number is given list: ", find_the_largest_number(numbers))

The largest number is given list:  78